.portoflio-dark {
  background-color: #111111;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.portoflio-dark .div-2 {
  background-color: #111111;
  height: 5240px;
  position: relative;
  width: 1440px;
}

.portoflio-dark .text-wrapper-17 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    180deg,
    rgb(152, 69, 232) 0%,
    rgb(51, 210, 255) 54.95%,
    rgb(221, 87, 137) 100%
  );
  background-clip: text;
  color: transparent;
  font-family: "GT Walsheim Pro-Medium", Helvetica;
  font-size: 96px;
  font-weight: 500;
  left: 180px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-fill-color: transparent;
  top: 276px;
  white-space: nowrap;
}

.portoflio-dark .text-wrapper-18 {
  color: #ffffff;
  font-family: "Inter-ExtraLight", Helvetica;
  font-size: 16px;
  font-weight: 200;
  left: 180px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 239px;
  white-space: nowrap;
}

.portoflio-dark .i-m-a-software {
  color: #f0f0f0;
  font-family: "Inter-ExtraLight", Helvetica;
  font-size: 18px;
  font-weight: 200;
  left: 180px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: justify;
  top: 410px;
  width: 1080px;
}

.portoflio-dark .frame-14 {
  align-items: center;
  display: inline-flex;
  gap: 12px;
  justify-content: center;
  left: 180px;
  position: absolute;
  top: 547px;
}

.portoflio-dark .text-wrapper-19 {
  color: #ffffff;
  font-family: "Inter-Light", Helvetica;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.portoflio-dark .line {
  height: 7.36px;
  margin-right: -0.50px;
  object-fit: cover;
  position: relative;
  width: 33.5px;
}

.portoflio-dark .img {
  height: 1px;
  left: 180px;
  position: absolute;
  top: 3102px;
  width: 1080px;
}

.portoflio-dark .line-2 {
  height: 1px;
  left: 180px;
  position: absolute;
  top: 4508px;
  width: 1080px;
}

.portoflio-dark .line-3 {
  height: 1px;
  left: 180px;
  position: absolute;
  top: 4970px;
  width: 1080px;
}

.portoflio-dark .contact {
  align-items: flex-start;
  display: inline-flex;
  gap: 117px;
  left: 180px;
  position: absolute;
  top: 5073px;
}

.portoflio-dark .contact-2 {
  color: #ffffff;
  font-family: "Inter-Light", Helvetica;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.portoflio-dark .btn {
  height: 49px;
  position: relative;
  width: 877px;
}

.portoflio-dark .btn-linkedin {
  height: 49px;
  left: 222px;
  position: absolute;
  top: 0;
  width: 212px;
}

.portoflio-dark .overlap-group {
  border-radius: 4px;
  height: 49px;
  position: relative;
  width: 210px;
}

.portoflio-dark .text-wrapper-20 {
  color: #c4c4c4;
  font-family: "Inter-Light", Helvetica;
  font-size: 16px;
  font-weight: 300;
  left: 90px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 14px;
  white-space: nowrap;
}

.portoflio-dark .rectangle {
  border: 1px solid;
  border-color: #c5c5c5;
  border-radius: 4px;
  height: 49px;
  left: 0;
  position: absolute;
  top: 0;
  width: 210px;
}

.portoflio-dark .linkedin-fill {
  background-image: url(./group-14.png);
  background-size: 100% 100%;
  height: 24px;
  left: 58px;
  position: absolute;
  top: 12px;
  width: 24px;
}

.portoflio-dark .btn-upwork {
  height: 49px;
  left: 444px;
  position: absolute;
  top: 0;
  width: 212px;
}

.portoflio-dark .text-wrapper-21 {
  color: #c4c4c4;
  font-family: "Inter-Light", Helvetica;
  font-size: 16px;
  font-weight: 300;
  left: 92px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 13px;
  white-space: nowrap;
}

.portoflio-dark .upwork-icon {
  height: 24px;
  left: 60px;
  position: absolute;
  top: 13px;
  width: 24px;
}

.portoflio-dark .btn-github {
  height: 49px;
  left: 666px;
  position: absolute;
  top: 0;
  width: 212px;
}

.portoflio-dark .text-wrapper-22 {
  color: #c4c4c4;
  font-family: "Inter-Light", Helvetica;
  font-size: 16px;
  font-weight: 300;
  left: 95px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 13px;
  white-space: nowrap;
}

.portoflio-dark .github-fill-8 {
  background-image: url(./group-15.png);
  background-size: 100% 100%;
  height: 24px;
  left: 63px;
  position: absolute;
  top: 13px;
  width: 24px;
}

.portoflio-dark .btn-email {
  height: 49px;
  left: 0;
  position: absolute;
  top: 0;
  width: 212px;
}

.portoflio-dark .text-wrapper-23 {
  color: #c4c4c4;
  font-family: "Inter-Light", Helvetica;
  font-size: 16px;
  font-weight: 300;
  left: 68px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 13px;
  white-space: nowrap;
}

.portoflio-dark .mail-fill {
  background-image: url(./group-16.png);
  background-size: 100% 100%;
  height: 24px;
  left: 35px;
  position: absolute;
  top: 13px;
  width: 24px;
}
